.dataSource {
    width: 100%;
    display: flex;
    flex: 1;
    
    .floatButton,.manage,.add{
        visibility: hidden;

    }
    .add{
      
    }
    .dataSourceLeft {
        height: 100%;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#fdfdff;

        .addSchema {
            color: black;
            background-color: white;
            width: 100%;
            border: none;
            margin-bottom: 10px;
            box-shadow: 0px 12px 26px 0px rgba(16, 30, 115, 0.06);
        }
    }
    

    .dataSourceRight {
        height: 100%;
        flex: 1;
        // background-color: white;
        display: flex;
        flex-direction: column;
        background-color:#fdfdff;
        .dataSourceRightTop {
            width: 60vw;
            height: 10vh;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            @media (max-width: 2000000px) {
                width: 85vw;
                align-self: center;
            }
            .tables {
                margin: 8px;
                background:rgba(244, 244, 255, 0.21) white;
                // box-shadow: 0px 12px 26px 0px rgba(16, 30, 115, 0.06);
                border-radius: 5px;
                width: auto;
                border: none;
                
            }
        }

        .dataSourceRightBottom {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: center;
           
        
        }
    }
    @media (max-width: 2000000px) {
        .floatButton,.manage,.add{
            visibility: visible;
        }
        .dataSourceLeft{
            width:0px;
            *{
                width:0px;
                visibility: hidden;
            }
        }
        .dataSourceRight {
            .dataSourceRightBottom {
                    .ant-table-wrapper{
                        width: 85vw;
                    }
            }
        }
        
    }
    .previewSchema {
        width: 100%;
        height: 30vh;
        overflow-y: auto;
    }
}